<div class="z-modal-form">
  <%= form_with(model: [@campaign, note]) do |form| %>
    <% if note.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
          <% note.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.number_field :user_id, id: :note_user_id, value: current_user.id, type: :hidden %>
    <div>
      <%= form.label :audience, style: "display: block" %>
      <%= form.select :audience, [ ["All Members"],["Selected Members"],["Private"]]  %>
    </div>
    <div>
      <%= form.label :category, style: "display: block" %>
      <%= form.select :category, [ ["Session"],["NPC"],["House Rule"],["Plot"] ]%>
    </div>
    <div>
      <%= form.label :note_heading, style: "display: block" %>
      <%= form.text_field :note_heading, placeholder: "Note title" %>
    </div>
    <div>
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>