<li class="note-item" data-category="<%=note.category%>" id="<%= dom_id note%>">
  <h4><%= note.note_heading %></h4>
  <div class="trix-override"><%= note.content %></div>
  <% if note.user_id == current_user.id %>
    <%= link_to "(Edit", edit_campaign_note_path(@campaign, note), data:{turbo_frame: "modalForm", controller: "turbomodal", action: "turbomodal#showModal"} %>|<%= link_to "Delete)", [@campaign, note], data: {turbo_method: :delete, turbo_confirm: "Delete note?"} %>
  <% end %>
</li>