<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <div>
      <span><%= note.note_heading%></span>
      <% if note.category%>
        <span><%=note.category%></span>
      <% end %>
      <% if note.audience %>
        <span><%= note.audience%></span>
      <% end %>
      <div class="trix-override">
        <%= note.content %>
      </div>
    <div>
      <%= link_to "(Edit", edit_campaign_note_path(@campaign, note)%>|<%= link_to "Delete)", [@campaign, note], data: {turbo_method: :delete, turbo_confirm: "Delete note?"} %>
    </div>
  <% end %>
  <%= link_to "Back to Campaign", campaign_path(@campaign) %>
</div>