<%= javascript_include_tag "custom/btn_test2"%>
<div>
  <nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
      <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
        <button id="flipFlop" class="menu-icon" type="button" onclick="doot()" data-toggle></button>
      </span>
      <%= link_to home_index_path,class:"topbar-responsive-logo" do %>
        <strong>DND Notes</strong>
      <% end %>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
      <div class="top-bar-right">
        <ul class="menu simple vertical medium-horizontal">
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %>
            <li><%= link_to current_user.user_name + " (Edit profile)", edit_user_registration_path %></li>
            <li><%= link_to "Campaigns", campaigns_path %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>