<div id="<%= dom_id useful_link %>">
  <p>
    <strong>User:</strong>
    <%= useful_link.user_id %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= useful_link.campaign_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= useful_link.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= useful_link.url %>
  </p>

</div>
