<p style="color: green"><%= notice %></p>

<%= render @useful_link %>

<div>
  <%= link_to "Edit this useful link", edit_useful_link_path(@useful_link) %> |
  <%= link_to "Back to useful links", useful_links_path %>

  <%= button_to "Destroy this useful link", @useful_link, method: :delete %>
</div>
