<!DOCTYPE html>
<html>
  <head>
    <title>DndStuff</title>
    <%= favicon_link_tag asset_path("favicon-32x32.png") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "home/menubar" %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
